---
import { games } from '../data/games'
import Game from './Game.astro'

console.log(games)
---

<div class="game-list">
    {
        games.map(({id, name, image, description, year, studio, color}) => {
            return (
                <Game id={id} name={name} image={image} description={description} year={year} studio={studio} color={color}/>
            )
        })
    }
</div>